.iframe-preview-wrapper {
  position: relative;
  height: 100%;
  flex-grow: 1;
  background-color: #f1f1d9;
}

.iframe-preview-wrapper iframe {
  height: 100%;
  background-color: #f1f1d9;
  width: 100%;
}

.react-draggable-transparent-selection .iframe-preview-wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.preview-error {
  color: red;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
